@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border colour has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  .hyperlink {
    @apply text-blue-700 no-underline hover:text-blue-900 dark:text-blue-300 dark:hover:text-blue-400;
  }

  .text-primary {
    @apply text-gray-900 dark:text-gray-50;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-gray-400;
  }

  .text-hover {
    @apply hover:text-gray-500 dark:hover:text-gray-300;
  }

  .text-accent {
    @apply text-blue-800 dark:text-blue-300;
  }

  .bg-primary {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  .bg-secondary {
    @apply bg-gray-50 dark:bg-gray-800;
  }
}
